*, *::before,*::after{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
}
body{
    padding: 0;
    margin: 0;
    /* background: linear-gradient(to right, pink,rgb(104, 206, 209)) ; */
    background: url('images/calc_back.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}
.calculator_grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,80px);
    grid-template-rows: minmax(120px, auto) repeat(5,80px);
}
.calculator_grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgb(236, 226, 213);
}
.calculator_grid > button:active{
    background-color: rgb(236, 205, 165);;
}
.span_two{
    grid-column: span 2;
}
.output{
    grid-column: 1/-1;
    color: white;
    background-color: rgba(0, 0, 0, 0.753);
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 2.5rem;
}
.output .previous{
    font-size: 1.5rem;
}
@media (max-width: 640px){
    .calculator_grid{
        width: 100%;
       
    }
    body{
        justify-content: flex-start;
    }
}
